.homeheaderblock {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    margin: auto;
    background-image: url("../images/poke-bowl-salmon.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 130%;
    width: 100%;
    height: 290px;
}

.homerewardsblock {
    display: flex;
    display: -webkit-flex;
    flex-flow: column;
    -webkit-flex-flow: column;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    align-content: center;
    -webkit-align-content: center;
    margin: auto;
    background-image: url("../images/pokebowlbkgd.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 130%;
    width: 100%;
    height: 290px;
}

.homerewardsblock h4 {
    color: white;
}

.homerewardsblock .button {
    background: rgba(255, 255, 255, 0.3);
}

.multiblock {
  text-align: center;
}

.owner-photo {
  width: 60%;
  padding-top: 20px;
  border-radius: 50%;
}

.about {
  text-align: center;
}

.aboutp p{
  width: 70%;
  padding-top: 20px;
  padding-left: 300px;
}

.store {
width: 100%;
}

/* CAROUSEL CSS */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 300px;
}

.mySlides{
  border: solid grey 0px;
  padding-top: 30px;
  padding-left: 20px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* END OF CAROUSEL*/


.button {
    background: rgba(21, 78, 167, 0.8);
    border: none;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: .9rem;
    width: 8em;
    font-weight: 500;
}

.button a {
    color: rgba(255, 255, 255, 1);
}

.button:hover {
    background: rgba(166, 208, 37, 0.8);
}
