@import url("grid.css");
@import url("typography.css");
@import url("navigation.css");
@import url("index.css");
@import url("news.css");

/* GLOBAL COLORS
blue: #1146a9
green: #a8d427
gray: #3d3d3d
text color gray: #2c2c2c
*/
