/* GLOBAL COLORS
blue: #1146a9
green: #a8d427
gray: #3d3d3d
text color gray: #2c2c2c
*/

@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

html {
  font-family: "Rubik", "Open Sans", "Arial", sans-serif;
  color: #2c2c2c;
  -webkit-font-smoothing: antialiased;
}

a {
    color: #1146a9;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #2c2c2c;
    text-decoration: none;
}

p a {
    font-weight: 500;
}

p a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    color: #a8d427;
}

strong {
    font-weight: 500;
    padding-bottom: 15px;
}

/* - - - - - - MOBILE - - - - - - - */
    p {
        font-size: .9rem;
        line-height: 1.5rem;
        font-weight: 100;
        text-align: center;
    }
    
    h1 {
        text-transform: uppercase;
        text-align: center;
        color: #2c2c2c;
        font-weight: 700;
        font-size:2.5rem;
        line-height: 3rem;
        margin-top: 3rem;
    }
    
    h2 {
        text-transform: uppercase;
        text-align: center;
        color: #2c2c2c;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 3rem;
    }
    
    h3 {
        text-transform: uppercase;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    h4 {
        text-align: center;
        color: #2c2c2c;
        font-weight: 600;
        font-size: 1.1rem;
        line-height: 2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    h5 {
        text-align: center;
        color: #2c2c2c;
        font-weight: 300;
        font-size: .95rem;
        line-height: 1.8rem;
    }
    
    h6 {
        text-align: left;
        color: #2c2c2c;
        font-weight: 200;
        font-size: .95rem;
        line-height: 1.8rem;
        margin-bottom: .2rem;
    }
    
    footer {
        font-size: .8rem;
        color: #2c2c2c;
        text-align: center;
    }

/* - - - - - - TABLET - - - - - - - */
@media (min-width: 576 px) {
    h1 {
        font-size: 7rem;
    } 
}


/* - - - - - - DESKTOP - - - - - - - */
@media (min-width: 850 px) {
    h1 {
        font-size: 10rem;
    }
}
